---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Skills from '../components/Skills.astro';
import Projects from '../components/Projects.astro';
import Timeline from '../components/Timeline.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
import PaletteModal from '../components/PaletteModal.astro';
---

<Layout>
  <Nav />
  <PaletteModal />
  <main>
    <Hero />
    <About />
    <Skills />
    <Projects />
    <Timeline />
    <Contact />
  </main>
  <Footer />
</Layout>
